<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关务系统</title>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <link href="~/Content/bootstrap32/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/css/superfish.css" rel="stylesheet" />
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/font-awesome3.2/css")
    @Styles.Render("~/easyui/css")
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/Content/bootstrap32/js/bootstrap.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.js"></script>
    <link href="~/Content/iconfont/iconfont.css" rel="stylesheet" />
    @Scripts.Render("~/easyui/js")
    <script src="~/js/commondata.js"></script>
</head>
<body>
    <div class="container">
        <div style="margin:10px 0px">
            <img src="~/Images/fld_logo.png" />
            <div class="fr" style="font-size:12px">
                <i class="icon iconfont">&#xe605;</i>
                <span>当前用户：@Html.Action("CurrentUser", "Common")</span>&nbsp;&nbsp;
                <a style="cursor:pointer" href="/Account/SignOut"><i class="icon iconfont">&#xe609;</i><span>退出</span></a>
            </div>
        </div>
        <div style="height: 36px; background-color: #CFDEFF;width:100%">
            <ul class="sf-menu" id="na_menu" style="font-size:14px">
                <li>
                    <a href="/Home/Index">首页</a>
                </li>
                @*@Html.Action("Header", "Common")/Common/ImportOrder?busitype=11*@
                <li>
                    <a href="#">关务操作</a>
                    <ul>
                        <li><a href="/Order/AirIn_List">空运进口</a></li>
                        <li><a href="/Order/AirOut_List">空运出口</a></li>
                        <li><a href="/Order/LandIn_List">陆运进口</a></li>
                        <li><a href="/Order/LandOut_List">陆运出口</a></li>
                        <li><a href="/Order/SeaIn_List">海运进口</a></li>
                        <li><a href="/Order/SeaOut_List">海运出口</a></li>
                        <li><a href="/Order/DomesticKnot_List">国内结转</a></li>
                        <li><a href="/Order/OverlayBonded_List">叠加保税</a></li>
                        <li><a href="/Order/SpecialSupervision_List">特殊监管</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">报检操作</a>
                    <ul>
                        <li><a href="#">空运进口</a></li>
                        <li><a href="#">空运出口</a></li>
                        <li><a href="#">陆运进口</a></li>
                        <li><a href="#">陆运出口</a></li>
                        <li><a href="#">海运进口</a></li>
                        <li><a href="#">海运出口</a></li>
                        <li><a href="#">国内业务</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">退单管理</a>
                    <ul>
                        <li><a href="#">退单管理</a></li>
                        <li><a href="#">签收操作</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">后台管理</a>
                    <ul>
                        <li><a href="#">用户管理</a></li>
                        <li><a href="#">模块管理</a></li>
                        <li><a href="#">权限管理</a></li>
                        <li><a href="#">同步日志</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="width: 100%; text-align: right; margin-top: 3px; margin-bottom: 3px; font-size: 12px; color: #357ebd">@ViewBag.navigator</div>
    </div>
    <div class="container" style="min-height:600px;">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <div style="background-color: #CFDEFF; height: 70px;width:100%;margin-top:5px; ">
        <div class="container">
            <table class="table" style="margin-bottom:0px">
                <tr>
                    <td rowspan="2" style="width:25%">
                        <span class="icon iconfont iconsize">&#xe612;</span>
                        <span class="icon iconfont iconsize">&#xe613;</span>
                        <span class="icon iconfont iconsize">&#xe60f;</span>
                    </td>
                    <td>
                        <a class="footer">关于我们</a>
                        <a class="footer">用户协议</a>
                        <a class="footer">法律声明</a>
                        <a class="footer">常用下载</a>
                        <a class="footer">意见反馈</a>
                        <a class="footer">网站地图</a>
                    </td>
                    <td rowspan="2" style="width:25%">
                        <span class="icon iconfont iconsize">&#xe614;</span><span>0512-57313261</span>
                    </td>
                </tr>
                <tr>
                    <td><span class="footer">苏ICP备05048421号&copy; 江苏飞力达国际物流股份有限公司</span></td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#na_menu').superfish({
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
