<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <link href="~/Content/bootstrap32/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/css/superfish.css" rel="stylesheet" />
    @Styles.Render("~/easyui/css")
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.js"></script>
    <link href="~/Content/iconfont/iconfont.css" rel="stylesheet" />
    @Scripts.Render("~/easyui/js")
</head>
<body>
    <div class="container">
        <div style="margin:10px 0px">
            <img src="~/Images/fld_logo.png" />
            <div class="fr" style="font-size:12px">
                <i class="icon iconfont">&#xe605;</i>
                <span>当前用户：@Html.Action("CurrentUser", "Common")</span>&nbsp;&nbsp;
                <a style="cursor:pointer" href="/Account/SignOut"><i class="icon iconfont">&#xe609;</i><span>退出</span></a>
            </div>
        </div>
        <div>
            <ul class="sf-menu" id="na_menu" style="font-size:14px">
                @*@Html.Action("Header", "Common")*@
                <li>
                    <a href="#">现场关务</a>
                    <ul>
                        <li><a href="#">空运进口</a></li>
                        <li><a href="#">空运出口</a></li>
                        <li><a href="#">陆运进口</a></li>
                        <li><a href="#">陆运出口</a></li>
                        <li><a href="#">海运进口</a></li>
                        <li><a href="#">海运出口</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" style="min-height:600px;">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <div style="background-color: #CFDEFF; height: 70px;width:100%;margin-top:5px; ">
        <div class="container">
            <table class="table" style="margin-bottom:0px">
                <tr>
                    <td rowspan="2" style="width:25%">
                        <span class="icon iconfont iconsize">&#xe612;</span>
                        <span class="icon iconfont iconsize">&#xe613;</span>
                        <span class="icon iconfont iconsize">&#xe60f;</span>
                    </td>
                    <td>
                        <a class="footer">关于我们</a>
                        <a class="footer">用户协议</a>
                        <a class="footer">法律声明</a>
                        <a class="footer">常用下载</a>
                        <a class="footer">意见反馈</a>
                        <a class="footer">网站地图</a>
                    </td>
                    <td rowspan="2" style="width:25%">
                        <span class="icon iconfont iconsize">&#xe614;</span><span>0512-57313261</span>
                    </td>
                </tr>
                <tr>
                    <td><span class="footer">苏ICP备05048421号&copy; 江苏飞力达国际物流股份有限公司</span></td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#na_menu').superfish({
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
