@model SceneOfCustoms.Models.User

@{
    Layout = "~/Views/Shared/Empty.cshtml";
}

<div class="container">
    <div style="margin:10px 0px"><img src="~/Images/fld_logo.png" /></div>
    <div style="height: 2px; background-color: #363c64"></div>
    <div class="container" style="padding-top: 80px">
        <div class="carousel slide" id="carousel-595514" data-ride="carousel" style="width:645px;float:left">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-595514">
                </li>
                <li data-slide-to="1" data-target="#carousel-595514">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/Images/login01.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="/Images/login02.jpg" alt="" />
                </div>
            </div>
        </div>
        <div style="border: 1px solid #363c64; float: right; width: 350px; padding: 50px 50px 42px 50px;">
            <form action="/Account/Login?ReturnUrl=@ViewBag.ReturnUrl" method="post">
                <label for="user_name">登录名</label>
                <div class="input-group" style="margin-bottom: 20px">
                    <span class="input-group-addon icon iconfont">&#xe605;</span>
                    @Html.TextBoxFor(u => u.NAME, new { @class = "form-control" })
                </div>
                <label for="password">登录密码</label>
                <div class="input-group">
                    <span class="input-group-addon icon iconfont">&#xe608;</span>
                    @Html.PasswordFor(u => u.PASSWORD, new { @class = "form-control" })
                </div>
                <div style="height:35px">
                    <label style="color:red" id="validate">
                        @Html.ValidationMessageFor(u => u.NAME)
                        @Html.ValidationMessageFor(u => u.PASSWORD)
                        @Html.ValidationMessage("ERROR")
                    </label>
                </div>
                <button type="submit" id='btn_login' class="btn btn-primary btn-group-justified">登录</button>
            </form>
        </div>
    </div>

</div>